<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CMS.Properties.Settings.Admin_SignInConnectionString"
            connectionString="Data Source=UTSAB-PC\SQLEXPRESS;Initial Catalog=Admin_SignIn;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CMS.Properties.Settings.AdminConnectionString" connectionString="Data Source=UTSAB-PC\SQLEXPRESS;Initial Catalog=Admin;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="CMS.Properties.Settings.CMSDbConnectionString" connectionString="Data Source=UTSAB-PC\SQLEXPRESS;Initial Catalog=CMSDb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>